body
{   
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;

    text-transform: uppercase;

    color: #333333;
    background-color: #f2f2f2;
}
.wrapper
{
    position: relative;

    width: 1200px;
    height: 100%;
    margin: 0 auto;

    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, .2);
            box-shadow: 0 5px 15px rgba(0, 1, 1, .2);
}
img
{
    max-width: 100%;
    height: auto;
}

.button
{
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
a
{
    text-decoration: none;
}
/*--------------------------------HEADER----------------------------*/
.page-header
{
    position: relative;

    width: 100%;
    margin: 0;

    background-color: #ffffff;
}
.site-navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.site-navigation li
{
    width: 20%;
}
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2)
{
    text-align: left;
}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4)
{
    text-align: right;
}

.site-navigation a
{
    font-weight: 700;
    line-height: 26px;

    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus
{
    opacity: 50%;
    color: #81b3d2;
}

.site-navigation a:active
{
    opacity: 50%;
    color: #766357;
}
.main-navigation
{
    margin: 0;
    padding: 15px 6%;
}
.main-header-logo
{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    width: 138px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
}
/*--------------------------------MAIN - PAGE 1-------------------*/
.container
{
    margin: 0;
    padding: 0;
}
.presentation-container
{
    position: relative;

    display: block;
}
.sedona-canyon
{
    width: 100%;
    height: 512px;
}
.greeting-image
{
    position: absolute;
    top: 78px;
    left: 50%;

    width: 458px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.greeting-mask
{
    position: absolute;
    bottom: 7px;
    left: 0;

    width: 100%;
}
.features
{
    text-align: center;
}
.page-slogan-header
{
    font-size: 21px;
    line-height: 26px;

    margin-top: 60px;

    color: #333;
}
.page-slogan
{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    margin: 0;
    margin-bottom: 40px;
    padding: 0 20px;

    text-align: center;
    text-transform: uppercase;
}
.features-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.feature-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.feature-item h2
{
    font-size: 21px;
    font-weight: 700;

    max-width: 156px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.promo-text
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px ;
    padding-top: 36px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    text-align: center;
}
.promo-text span
{
    position: relative;
}
.promo-text span::before,
.promo-text span::after
{
    position: absolute;

    width: 12px;
    height: 2px;

    content: '';
}
.promo-text span::before
{
    top: 8px;
    left: -14px;
}
.promo-text span::after
{
    top: 8px;
    right: -14px;
}
.index-number-grey::before,
.index-number-grey::after
{
    background-color: #333333;
}
.index-number-white::before,
.index-number-white::after
{
    background-color: #ffffff;
}
.feature-item:nth-child(2),
.feature-item:nth-child(3),
.feature-item:nth-child(4)
{
    padding-top: 120px;

    background-color: transparent;
}
.feature-item:nth-child(6),
.feature-item:nth-child(7),
.feature-item:nth-child(8)
{
    background-color: #f2f2f2;
}
.backgruond-blue
{
    color: white;
    background-color: #81b3d2;
}

.lodging,
.food,
.souvenirs
{
    position: relative;
}
.lodging::before,
.food::before,
.souvenirs::before
{
    position: absolute;

    width: 75px;
    height: 72px;

    content: '';
}
.lodging::before
{
    top: -102px;
    right: 50%;

    margin-right: -36px;

    background-image: url('../img/icon-1.svg');
    background-repeat: no-repeat;
}
.food::before
{
    top: -102px;
    right: 50%;

    margin-right: -36px;

    background-image: url('../img/icon-3.svg');
    background-repeat: no-repeat;
}
.souvenirs::before
{
    top: -102px;
    right: 50%;

    margin-right: -36px;

    background-image: url('../img/icon-2.svg');
    background-repeat: no-repeat;
}
.search
{
    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;

    text-align: center;
}
.hotel-search
{
    display: block;

    margin: 0;
    padding: 40px;
    padding-bottom: 0;
}
.button-search
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    margin-bottom: 0;
    padding: 30px;

    text-transform: uppercase;

    background-color: #766357;
}
.button-search:hover,
.button-search:focus
{
    background-color: #604e43;
}
.button-search:active
{
    opacity: 50%;
    color: #fff;
    background-color: #503e33;
}
.search-slogan
{
    font-size: 30px;
    font-weight: 700;

    display: block;

    margin: 0;
    margin-bottom: -30px;
    padding: 0;

    text-transform: uppercase;

    color: #000000;
}
.search-text
{
    margin: 0;
    margin-bottom: 54px;
    padding: 0;
}
.pop-up
{
    position: relative;
}
/*--------------------------------MAIN - PAGE 2-------------------*/
.filter-form
{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 30px 72px;
    padding-bottom: 15px;

    text-transform: uppercase;

    color: #ffffff;
    background-color: #766357;
    background-image: url('../img/filter-background.jpg');
    background-repeat: no-repeat;
    background-position: 0 -300px;
    background-size: 1280px auto;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fieldset-inf-options,
.fieldset-lodging-options
{
    min-width: 144px;
}
.fieldset-lodging-options
{
    margin-left: 115px;
}
legend
{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    margin: 0;
    margin-bottom: 28px;

    text-transform: uppercase;
}
.filter-form fieldset
{
    margin: 0;
    padding: 0;

    border: none;
}
.inf-options-list,
.lodging-options-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.fieldset-cost
{
    width: 330px;
    margin-left: auto;
}
.cost-options-title
{
    margin: 0;
    margin-bottom: 10px;
}
.price-controls
{
    font-size: 0;

    position: relative;

    height: 32px;
    margin-bottom: 20px;

    border: 2px solid #ffffff;
}
.price-controls::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: '';
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background: #ffffff;
}
.price-controls label
{
    font-size: 14px;
    line-height: 21px;

    display: inline-block;

    margin-top: 5px;

    cursor: pointer;
    vertical-align: middle;
    vertical-align: top;
}
.price-controls .min-price,
.price-controls .max-price
{
    width: 90px;
    padding-left: 65px;
}
.price-controls input
{
    font: inherit;

    width: 50px;
    margin: 0;

    color: inherit;
    border: none;
    background: none;
}
.range-controls
{
    position: relative;

    margin-bottom: 32px;
}
.range-controls .scale
{
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}
.range-controls .track
{
    width: 80%;
    height: 2px;

    background: #ffffff;
}
.thumb
{
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #ffffff;
    border-radius: 50%;
    background: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.thumb-min
{
    left: 0;
}
.thumb-max
{
    left: 80%;
}
.thumb:hover
{
    border: 9px solid #ffffff;
    background: #1c4f80;
}
.button-show-options
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    display: block;

    margin: 0 auto;
    padding: 6px 35px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: transparent;
}
.button-show-options:hover
{
    color: #000000;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}
input[type=checkbox]
{
    opacity: 0;
}
input[type=checkbox] + label
{
    position: relative;

    display: block;

    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    padding-left: 40px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
input[type=checkbox]:last-child
{
    margin-bottom: 0;
}
input[type=checkbox] + label::before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 21px;
    height: 21px;

    content: '';

    border: 2px solid #ffffff;
    background-color: transparent;
}
input:disabled + label::before
{
    border: 2px solid rgba(255,255,255,0.3);
}
input[type='checkbox']:checked + label::before
{
    content: url('../img/checkbox-on.svg');

    border: none;
}
input[type='checkbox']:focus + label::before
{
    outline: rgb(59, 153, 252) auto 5px;
}

.sort
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.sort-pointers
{
    margin-top: 30px;
    margin-right: 72px;
    margin-left: auto;
}
.sort-pointer-link:first-child
{
    margin-right: 10px;
}
.sort-count b
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: block;

    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 32px;
    margin-left: 72px;

    text-transform: uppercase;

    color: #000000;
}
.sort-options-name
{
    margin-right: 30px;
}
.sort-options
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 22px;
}
.sort-options p
{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    color: #000000;
}

.sort-options a
{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    display: inline-block;

    margin-right: 25px;

    vertical-align: middle;
    text-decoration: underline;

    opacity: 0.3;
    color: #000000;

    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
}
.sort-options a:hover,
.sort-options a:focus
{
    color: #81b3d2;
}
.sort-options a:active
{
    text-decoration: none;

    opacity: 100%;
    color: #000000;
}
.sort-options .option-current
{
    text-decoration: none;

    color: #81b3d2;
}

.sort-pointer
{
    fill: #cacaca;
}
.sort-pointer-link:hover path,
.sort-pointer-link:focus path
{
    fill: black;
}
.sort-pointer-link:active path
{
    fill: #81b3d2;
}
/*------------------------------------RESULTS----------------------*/
.results
{
    display: block;

    width: 100%;
    margin: 0;
    padding: 0;
}
.search-items-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.search-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.search-item:nth-child(1),
.search-item:nth-child(2)
{
    margin-bottom: -1px;
}
.item-description
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 73px;
}
.item-foto
{
    width: 135px;
    height: 90px;
    margin: 0;
    margin-right: 30px;
}
.item-rating
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 110px;
    margin-top: 30px;
    margin-right: 72px;
    margin-bottom: 30px;
    margin-left: auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.item-rating-stars-first
{
    width: 86px;
    height: 17px;

    background-image: url('../img/star.svg');
    background-repeat: space;
    background-position: 0 0;

    -ms-flex-item-align: end;
    align-self: flex-end;
}
.item-rating-stars-second
{
    width: 60px;
    height: 17px;

    background-image: url('../img/star.svg');
    background-repeat: space;
    background-position: 0 0;

    -ms-flex-item-align: end;
    align-self: flex-end;
}
.item-rating-stars-third
{
    width: 44px;
    height: 17px;

    background-image: url('../img/star.svg');
    background-repeat: space;
    background-position: 0 0;

    -ms-flex-item-align: end;
    align-self: flex-end;
}
.rating
{
    width: 110px;
    height: 27px;
    margin: 0;
    margin-top: auto;

    background-color: #f2f2f2;
}
.rating span
{
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    display: block;

    margin: 0;
    padding: 3px 15px;

    text-transform: uppercase;

    color: #666;
}
.item-options
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0;
    padding: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.item-name,
.item-class,
.item-details
{
    margin: 0;
    padding: 0;

    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}
.item-name a
{
    font-family: 'PT Sans',sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: block;

    margin: 0;
    margin-top: -5px;
    padding: 0;

    text-decoration: none;
    text-transform: uppercase;

    color: #000000;
}
.item-name a:hover,
.item-name a:focus
{
    color: #81b3d2;
}
.item-name a:active
{
    color: rgba(255, 255, 255, 0.3);
}

.item-class
{
    font-size: 0;
}
.item-class span
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    display: inline-block;

    margin: 0;
    padding: 0;

    vertical-align: middle;
    text-transform: uppercase;

    color: #333333;
}
.hotel-class span
{
    margin-right: 40px;
}
.motel-class span
{
    margin-right: 70px;
}
.apartment-class span
{
    margin-right: 25px;
}
.item-details a
{
    display: inline-block;

    margin: 0;
    margin-right: 8px;
    margin-bottom: -5px;
    padding-right: 16px;
    padding-left: 16px;

    vertical-align: middle;
}

.button:active
{
    opacity: 50%;
    color: #ffffff;
}
.button-more-info
{
    min-height: 25px;

    background-color: #81b3d2;
}
.button-more-info:hover,
.button-more-info:focus
{
    background-color: #669ec0;
}
.button-more-info:active
{
    background-color: #5496bd;
}
.button-book-it
{
    min-height: 25px;

    background-color: #766357;
}
.button-book-it:hover,
.button-book-it:hover:focus
{
    background-color: #604e43;
}
.button-book-it:active
{
    opacity: 50%;
    color: #ffffff;
    background-color: #503e33;
}

/*-------------------------MODAL----------------------------------*/
.hotel-search-form-modal
{
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    position: absolute;
    z-index: 30;
    top: 0;
    right: 50%;
    left: 50%;

    visibility: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    min-height: 395px;
    margin-left: -283px;
    padding: 55px;

    -webkit-transition: visibility 0s linear .8s, opacity 0.8s;
         -o-transition: visibility 0s linear .8s, opacity 0.8s;
            transition: visibility 0s linear .8s, opacity 0.8s;
    text-transform: uppercase;

    opacity: 0;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
            box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.hotel-search-form p
{
    position: relative;

    margin: 0;
    margin-bottom: 30px;
}

.date-input,
.guests-input
{
    font: inherit;

    text-transform: uppercase;

    color: #000000;
    -webkit-box-shadow: 0;
            box-shadow: 0;
}
.date-input
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 346px;
    padding: 7px 9px;
    padding-right: 40px;

    border: none;
    background-color: #f2f2f2;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.guests-input
{
    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 7px 8px;

    text-align: center;
    vertical-align: middle;

    border: none;
    background-color: #f2f2f2;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.hotel-search-form input:hover
{
    background-color: #ebebeb;
}
.hotel-search-form input:focus
{
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}
.hotel-search-form label
{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    color: #000000;
}
.hotel-search-form label
{
    display: inline-block;

    margin-right: 10px;

    vertical-align: middle;
}
.label-guests
{
    display: inline-block;

    vertical-align: middle;
}
.label-guests:first-child
{
    margin-right: 46px;
}
.label-guests:nth-of-type(2)
{
    margin-right: 30px;
    margin-left: 30px;
}
.icon-calendar
{
    position: absolute;
    top: 20%;
    right: 20px;

    stroke: #cacaca;
}
.icon-calendar:hover path,
.icon-calendar:focus path
{
    stroke: #231f20;
}
.icon-calendar:active path
{
    stroke: #81b3d2;
}
.reduce,
.enlarge
{
    font-size: 25px;

    display: inline-block;

    width: 38px;
    height: 38px;
    margin: 0;

    vertical-align: middle;

    color: #cacaca;
    border: none;
    background-color: #f2f2f2;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.reduce
{
    margin-right: -4px;
}
.enlarge
{
    margin-left: -3px;
}
.reduce:hover,
.enlarge:hover,
.reduce:focus,
.enlarge:focus
{
    color: black;
}
.reduce:active,
.enlarge:active
{
    color: #81b3d2;
}
.button-to-find
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 458px;
    margin-top: 20px;
    padding: 16px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #81b3d2;
}

.button-to-find:hover
{
    background-color: #669ec0;
}
.button-to-find:active
{
    opacity: 50%;
    color: #ffffff;
    background-color: #5496bd;
}
input::-webkit-input-placeholder
{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    text-transform: uppercase;

    color: #000000;
}
input:-moz-placeholder
{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    text-transform: uppercase;

    color: #000000;
}
/*-------------------------FOOTER---------------------------------*/
.page-footer
{
    width: 100%;
    min-height: 120px;
    margin: 0;
    padding: 0;

    background-color: rgba(255,255,255,0.9);
}
.main-page-footer
{   position:relative;
    z-index: 200;

    display: block;

    margin-top: -120px;

    opacity: 0.9;
}
.container-columns
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-column
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 33.3333%;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hashtag
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin: auto;
    margin-top: 51px;

    color: #000000;

    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.social-butons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 154px;
    margin: auto;
    margin-top: 36px;
    padding: 0;

    list-style: none;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.social-button
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.social-button:active path
{
    opacity: 0.3;
}
.social-button:hover,
.social-button:focus
{
    background-color: #669ec0;
}
.social-button:active
{
    background-color: #5496bd;
}
.copyright
{
    margin: auto;
    margin-top: 18px;
}
.copyright:hover path,
.copyright:focus path
{
    stroke: #81b3d2;
}
.copyright:active path
{
    stroke: #bdbbbc;
}
.copyright a
{
    display: inline-block;

    margin-left: 10px;

    vertical-align: middle;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}
/*------------------------------------MODAL_SHOW-------------------------*/
.modal-show
{
    visibility: visible;

    -webkit-transition: visibility 0s linear 0s, opacity 0.8s;
         -o-transition: visibility 0s linear 0s, opacity 0.8s;
            transition: visibility 0s linear 0s, opacity 0.8s;

    opacity: 1;
}
.map
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    margin: 0;
}
.pop-up iframe
{
    position: relative;
    z-index: 2;

    border: none;
}
